<div class="row">
    <div class="one-quarter"></div>

    <div class="three-quarters">
        <h1>{% block title %}Not found.{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </p>
</div>
<p>&nbsp;</p>