{% extends '@MozzaTheme/base.html.twig' %}

{% block body %}
{% embed '@MozzaTheme/Error/error.base.html.twig' %}
    
    {% block title %}Not found.{% block title %}
    {% block content %}
        <p>Oh snap ! We cannot find the page you are looking for.</p>
        <p><a class="button" href="{{ path('home') }}"><i class="fa fa-chevron-left"></i> Get me back home.</a></p>
    {% endblock %}

{% endembed %}
{% endblock %}