{% extends '@PulpyTheme/Page/index.html.twig' %}

{% block title %}Oh snap ! That's an error !{% endblock %}
{% block content %}
    <p>Something wrong happened, and we're terribly sorry.</p>
    <p><a class="button" href="{{ path('home') }}"><i class="fa fa-chevron-left"></i> Get me back home.</a></p>
{% endblock %}