{% extends '@PulpyTheme/base.html.twig' %}

{% block body %}

<article class="published">
    <div class="row">
        <div class="one-quarter meta">
            <div class="thumbnail">
                {% if siteconfig().images.logo %}
                    <img src="{{ siteconfig().images.logo|toresourceurl() }}" alt="{{ siteconfig().title }}" />
                {% endif %}
            </div>
        </div>

        <div class="three-quarters post">
            <h1 class="post-title">{% block title %}Le title{% endblock %}</h1>

            <div>{% block content %}<p>Le content</p>{% endblock %}</div>

        </div>
    </div>

</article>

{% endblock %}